/** Basic config file **/

configuration {
  font: "FantasqueSansMono Nerd Font 11";
  show-icons: true;
  icon-theme: "Papirus";
  display-drun: "";
  display-window: "﩯 ";
  display-combi: "  ";
}
@theme "styles/themes/sidetab-default.rasi"
